@import url(https://fonts.googleapis.com/css2?family=Prata&display=swap);

@tailwind base;
@tailwind components;
@tailwind utilities;

body, html { max-width: 100vw; overflow-x: hidden; }

body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

* { box-sizing: border-box; padding: 0; margin: 0; }

a { color: inherit; text-decoration: none; }
  h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6 {
      font-family: "Prata",serif;
    }
@media (prefers-color-scheme: white) {
  html { color-scheme: white; }
}
.header-nav { background-color: var(--background); padding: 1rem; border-bottom: 1px solid var(--foreground); }
.header-nav ul { list-style: none; display: flex; gap: 1rem; }
.header-nav ul li { font-weight: bold; }

/* @layer base {
--foreground: 0 0% 98%; --card: 0 0% 3.9%; --card-foreground: 0 0% 98%; --popover: 0 0% 3.9%; --popover-foreground: 0 0% 98%; --primary: 0 0% 98%; --primary-foreground: 0 0% 9%; --secondary: 0 0% 14.9%; --secondary-foreground: 0 0% 98%; --muted: 0 0% 14.9%; --muted-foreground: 0 0% 63.9%; --accent: 0 0% 14.9%; --accent-foreground: 0 0% 98%; --destructive: 0 62.8% 30.6%; --destructive-foreground: 0 0% 98%; --border: 0 0% 14.9%; --input: 0 0% 14.9%; --ring: 0 0% 83.1%; --chart-1: 220 70% 50%; --chart-2: 160 60% 45%; --chart-3: 30 80% 55%; --chart-4: 280 65% 60%; --chart-5: 340 75% 55%; }

}
@layer base {

}
  body { @apply bg-background text-foreground;

}
} */
  .w-full { width: 100%!important; }
