    /* Font
======================================================*/
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

    @font-face {
        font-family: 'Drama';
        src: url('../../font/Drama-Regular.eot');
        src: url('../../font/Drama-Regular.eot?#iefix') format('embedded-opentype'),
            url('../../font/Drama-Regular.woff2') format('woff2'),
            url('../../font/Drama-Regular.woff') format('woff'),
            url('../../font/Drama-Regular.ttf') format('truetype'),
            url('../../font/Drama-Regular.svg#Drama-Regular') format('svg');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }


    /* Reset CSS
======================================================*/
    *,
    *:after,
    *:before {
        vertical-align: top !important;
        @include prefix(box-sizing, border-box !important);
    }

    html {
        @include prefix(text-size-adjust, none);
    }

    body,
    html {
        background: var(--bs-body-bg);
        color: var(--bs-body-color);
        font-family: var(--bs-font);
        font-size: var(--bs-body-fs);
        line-height: var(--bs-body-lh);
        font-weight: var(--bs-body-fw);
        margin: 0;
        padding: 0;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        scrollbar-color: var(--bs-primary) var(--bs-white);
        scrollbar-width: thin;
    }

    body {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        min-height: 100vh;
        overflow-x: hidden;
        scroll-behavior: smooth;
    }


    figure,
    .figure {
        position: relative;
        display: inline-block;
        width: 100%;
        margin: 0px;
        overflow: hidden;
    }

    img {
        max-width: 100%;
        max-height: 100%;
        outline: none;
        border: none;
        height: auto;
        width: auto;
        @extend .transition;
    }

    svg {
        max-width: 100%;
        height: auto;
        @extend .transition;

        // path {
        //     fill: currentColor;
        // }
    }

    .absolute-div {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        margin: auto;
    }

    .picture>img,
    .picture>iframe {
        position: absolute;
        top: 0px;
        left: 0px;
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
    }

    .picture-contain {
        object-fit: contain;
    }

    strong,
    b,
    label {
        font-family: inherit;
        font-weight: var(--bs-font-bold);
        margin-bottom: 0px;
    }

    ul,
    ul li,
    ol,
    ol li {
        list-style: none;
        padding: 0px;
        margin: 0px;
        position: relative;
    }

    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6 {
        font-family: var(--bs-font-heading);
        font-weight: var(--bs-font-bold);
        color: var(--bs-black);
        padding: 0px;
        margin: 0px;
        width: 100%;
        letter-spacing: 1.5px;
    }

    h1,
    .h1 {
        font-size: var(--bs-font-size-h1);
        line-height: var(--bs-line-height-h1);
        font-weight: var(--bs-font-weight-h1);
    }

    h2,
    .h2 {
        font-size: var(--bs-font-size-h2);
        line-height: var(--bs-line-height-h2);
        font-weight: var(--bs-font-weight-h2);
    }

    h3,
    .h3 {
        font-size: var(--bs-font-size-h3);
        line-height: var(--bs-line-height-h3);
        font-weight: var(--bs-font-weight-h3);
    }

    h4,
    .h4 {
        font-size: var(--bs-font-size-h4);
        line-height: var(--bs-line-height-h4);
        font-weight: var(--bs-font-weight-h4);
    }

    h5,
    .h5 {
        font-size: var(--bs-font-size-h5);
        line-height: var(--bs-line-height-h5);
        font-weight: var(--bs-font-weight-h5);
    }

    h6,
    .h6 {
        font-size: var(--bs-font-size-h6);
        line-height: var(--bs-line-height-h6);
        font-weight: var(--bs-font-weight-h6);
    }

    a,
    .a,
    a:focus,
    .a:focus,
    a:hover,
    .a:hover {
        text-decoration: none;
        outline: none;
    }

    a,
    .a {
        @extend .transition;
        color: var(--bs-primary);
        display: inline-block;
        cursor: pointer;
    }

    a:hover,
    .a:hover,
    .active a:not(.btn),
    .active .a:not(.btn) {
        color: var(--bs-primary);
    }

    p {
        font-size: var(--bs-body-fs);
        line-height: var(--bs-body-lh);
        margin: 0 0 24px;
    }

    p:empty {
        display: none;
    }

    label {
        margin-bottom: 0px;
    }

    small {
        display: inline-block;
        font-size: var(--bs-small-font-size);
        line-height: var(--bs-small-line-height);
    }

    .app-main {
        display: inline-block;
        width: 100%;

        [data-bs-header-fixed="true"]:not(.home) & {
            padding-top: var(--bs-header);
        }

    }

    section {
        position: relative;
    }

    ::-moz-selection {
        color: var(--bs-white);
        background: var(--bs-primary);
    }

    ::selection {
        color: var(--bs-white);
        background: var(--bs-primary);
    }

    :hover,
    :visited,
    :active,
    :focus {
        outline: none !important;
    }

    // :last-child:not(img):not(.icon):not(svg):not(.slick-arrow):not(.margin-child),
    // :only-child:not(img):not(.icon):not(svg):not(.slick-arrow):not(.margin-child) {
    //     margin-bottom: 0px !important;
    // }

    .font-size-0 {
        font-size: 0;
        line-height: 0;
        width: 0;
        height: 0;
        opacity: 0;
        visibility: hidden;
    }

    .form-control {
        border: 1px solid var(--bs-border-color) !important;
        height: initial !important;
    }

    .font-dm {
        font-family: "DM Sans", sans-serif !important;
    }

    .font-work {
        font-family: "Work Sans", sans-serif !important;
    }

    .font-roboto {
        font-family: "Roboto", sans-serif !important;
    }

    .font-poppins {
        font-family: "Poppins", sans-serif !important;
    }

    .font-inter {
        font-family: "Inter", sans-serif !important;
    }

    .w-fit {
        width: fit-content !important;
    }

    .h-fit {
        height: fit-content !important;
    }

    .bg-purple {
        background-color: var(--bs-purple) !important;
    }

    .bg-transparent {
        background-color: transparent !important;
    }

    .bg-light-emphasis {
        background-color: var(--bs-light-text-emphasis) !important;
    }

    .bg-gray-600 {
        background-color: var(--bs-gray-600) !important;

        &:hover {
            background-color: var(--bs-gray-300) !important;
        }
    }

    .bg-gray-500 {
        background-color:
            #555151 !important;
    }



    .icon-24 {
        min-width: 1.667vw !important;

        @include responsive(xxl) {
            min-width: 24px !important;
        }
    }