

.portfolio-card {
    max-width: 800px;
    margin: 0 auto;

    li {
        @include responsive(sm) {

            button {
                flex: 1 1 auto;
                width: 100%;
            }
        }
    }
}