/* Common Css
======================================================*/
.transition, ::before, ::after, .icon, svg *, header, main, aside, footer {
    @include prefix(transition, all 0.4s ease-in-out 0s);
}

.rounded-xl {
    @include prefix(border-radius, var(--bs-radius-xl));
}

.rounded-lg {
    @include prefix(border-radius, var(--bs-radius-lg));
}

.rounded-md {
    @include prefix(border-radius, var(--bs-radius-md));
}

.rounded-sm {
    @include prefix(border-radius, var(--bs-radius-sm));
}

.rounded {
    @include prefix(border-radius, var(--bs-radius));
}

.rounded-pill {
    @include prefix(border-radius, 50rem);
}

.rounded-circle {
    @include prefix(border-radius, 50%);
}

.rounded-0 {
    @include prefix(border-radius, 0);
}

.cursor-pointer {
    cursor: pointer;
}

.fw-black {font-weight: var(--bs-font-black);}

.font-rubik {font-family: var(--bs-font);}
.font-grotesque {font-family: var(--bs-font-heading);}

.font-size-1 {font-size: var(--bs-font-size-1); line-height: var(--bs-line-height-1);}


/* Image Color
======================================================*/
.picture {
    .horizontal-image & {
        padding-top: 56%;
    }

    .vertical-image & {
        padding-top: 150.12%;
    }

    .square-image & {
        padding-top: 100%;
    }
}

/* Link
======================================================*/
.link {
    position: relative;
    overflow: hidden;
    display: inline-block;

    &::before {
        content: "";
        position: absolute;
        height: 1px;
        width: 100%;
        background: currentColor none repeat scroll 0 0;
        bottom: 0px;
        right: 0;
        -ms-transform-origin: 0 100%;
        transform-origin: 0 100%;
        left: 0;
        -ms-transform: scaleY(1) scaleX(1);
        transform: scaleY(1) scaleX(1);
        transition: transform .4s cubic-bezier(.5,0,.1,1), left 0s linear;
    }

    &:hover {    
        &::before {
            left: 100%;
            -ms-transform: scaleY(1) scaleX(0);
            transform: scaleY(1) scaleX(0);
            transition: left .4s cubic-bezier(.5,0,.1,1),transform 0s linear .4s;
        }
    }
}



/* Icon
======================================================*/
.icon {
    display: inline-block;
    position: relative;

    svg {
        position: absolute;
        top: 0px;
        left: 0px;
        bottom: 0px;
        right: 0px;
        margin: auto;
        width: fit-content;
        height: fit-content;
        max-width: 100%;
        max-height: 100%;
    }
}

.top-1 {
    top: 4px;
}

/* Button
======================================================*/
.btn {
    text-transform: uppercase;

    &.btn-primary {
        --bs-btn-color: var(--bs-white);
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-active-color: var(--bs-white);
        --bs-btn-disabled-color: var(--bs-white);
    }

    &.btn-outline-primary {
        --bs-btn-color: var(--bs-primary);
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-active-color: var(--bs-white);
        --bs-btn-disabled-color: var(--bs-primary);
    }
}

/* Responsive
======================================================*/
@include responsive(xl) {
    .container {
        padding-left: 40px;
        padding-right: 40px;
    }

    .btn {
        --bs-btn-padding-x: 20px;
        --bs-btn-padding-y: 8px;
        // --bs-btn-font-size: var(--bs-font-size-h6);
        // --bs-btn-line-height: var(--bs-line-height-h6);
    }
}

@include responsive(md) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .btn {
        --bs-btn-padding-y: 10px;
    }
}